.git
.gitignore
__pycache__/
*.pyc
*.log
*.sqlite3
.env
.env.*
venv/
.venv/
node_modules/
dist/
build/
media/
staticfiles/        # collectstatic les régénère dans /app/staticfiles
.frontend-cache/
pytest_cache/
.mypy_cache/
.vscode/
.idea/
dump.sql
