# Prod / Préprod
DEBUG=False
DJANGO_SECRET_KEY=***A_REMPLIR***
ALLOWED_HOSTS=visites.rubio.fr

# API KEY
GOOGLE_MAPS_API_KEY=***A_REMPLIR***

# Exemple prod en HTTPS
CSRF_TRUSTED_ORIGINS=https://visites.rubio.fr
SITE_BASE_URL=https://visites.rubio.fr
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_CROSS_ORIGIN_OPENER_POLICY=same-origin
SECURE_CROSS_ORIGIN_EMBEDDER_POLICY=unsafe-none

# ---------- DB ----------
DB_HOST=db
DB_PORT=3306
DB_NAME=crm_visites
DB_USER=appuser
DB_PASSWORD=***A_REMPLIR***
DB_ROOT_PASSWORD=***OPTIONNEL***

# ---------- Emails ----------
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587
EMAIL_HOST_USER=no-reply@visites.rubio.fr
EMAIL_HOST_PASSWORD=***A_REMPLIR***
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@visites.rubio.fr

# ---------- Divers ----------
GENERATION_AUTO_ENABLED=False
GENERATION_AUTO_DRY_RUN=True
PUBLIC_HOLIDAYS=2026-01-01,2026-04-06,2026-05-01,2026-05-08,2026-05-14,2026-05-25,2026-07-14,2026-08-15,2026-11-01,2026-11-11,2026-12-25
MAX_RADIUS_KM=40
MAX_DAILY_DISTANCE_KM=220
CLUSTER_RADIUS_KM=8
SAME_DAY_MAX_SPREAD_KM=25
ROUTING_AVG_SPEED_KMH=50
ROUTING_USE_ORS=False
