# Prod / Préprod
DEBUG=False
DJANGO_SECRET_KEY=9_m8gu!lr6rw&p714_alnpdl%gf7eoj*yf)^inkd=mc%dm^nyl
ALLOWED_HOSTS=ton-domaine.fr,ton-ip

#API KEY
MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiYmdpbGxlbnMiLCJhIjoiY21mcDg2OHF4MDhiZDJpczdwcGoxNGJuaiJ9.1PnxzbMb4Ggtwcbopya_yA

# Si tu restes en HTTP pour le moment (sans domaine/https), mets l’IP:
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000
SITE_BASE_URL=http://127.0.0.1:8000

# ---------- DB ----------
# Si DB DANS Docker (docker-compose.prod.yml):
DB_HOST=db
DB_PORT=3306
DB_NAME=crm_visites
DB_USER=appuser
DB_PASSWORD=apppass
DB_ROOT_PASSWORD=rootpass

# Si DB MANAGÉE (fourni par Nalta) : remplace DB_HOST/USER/PASS/NAME/PORT par ceux du provider.

# ---------- Emails ----------
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=adresse@exemple.com
EMAIL_HOST_PASSWORD=***A_REMPLIR***
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=adresse@exemple.com

# ---------- Divers ----------
GENERATION_AUTO_ENABLED=False
GENERATION_AUTO_DRY_RUN=True
