# En dev: True / En préprod & prod: False
DEBUG=True
# Génère une vraie clé avec :
# python -c "from django.core.management.utils import get_random_secret_key as g; print(g())"
DJANGO_SECRET_KEY=***A_REMPLIR***
MAPBOX_ACCESS_TOKEN=***A_REMPLIR***

ALLOWED_HOSTS=localhost,127.0.0.1
# En dev (HTTP): http://127.0.0.1:8000
# En préprod/prod (HTTPS): https://<ton-domaine>
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
SITE_BASE_URL=http://127.0.0.1:8000

# ---------- Base de données ----------
DB_NAME=crm_visites
DB_USER=appuser
DB_PASSWORD=apppass
DB_HOST=db
DB_PORT=3306
DB_ROOT_PASSWORD=rootpass

# ---------- Emails ----------
# Dev (pas d'envoi réel) : console ou filebased
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@rubio.fr
# Si tu utilises un SMTP réel (préprod/prod), décommente et remplis :
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=adresse@exemple.com
# EMAIL_HOST_PASSWORD=mot_de_passe_application_16c
# EMAIL_USE_TLS=True
# DEFAULT_FROM_EMAIL=adresse@exemple.com


# ---------- Divers / features ----------
SESSION_COOKIE_AGE=1800
GENERATION_AUTO_ENABLED=False
GENERATION_AUTO_DRY_RUN=True

# =========================
# Profils Préprod / Prod (exemples)
# =========================
# Préprod :
# DEBUG=False
# DJANGO_SECRET_KEY=change_me_preprod
# ALLOWED_HOSTS=preprod-visites.rubio.fr
# CSRF_TRUSTED_ORIGINS=https://preprod-visites.rubio.fr
# SITE_BASE_URL=https://preprod-visites.rubio.fr
# DB_NAME=visites_preprod
# DB_USER=visites_preprod
# DB_PASSWORD=********
# DB_HOST=127.0.0.1
# DB_PORT=3306

# Prod :
# DEBUG=False
# DJANGO_SECRET_KEY=change_me_prod
# ALLOWED_HOSTS=visites.rubio.fr
# CSRF_TRUSTED_ORIGINS=https://visites.rubio.fr
# SITE_BASE_URL=https://visites.rubio.fr
# DB_NAME=visites_prod
# DB_USER=visites_prod
# DB_PASSWORD=********
# DB_HOST=127.0.0.1
# DB_PORT=3306
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=adresse@exemple.com
# EMAIL_HOST_PASSWORD=mot_de_passe_application_16c
# EMAIL_USE_TLS=True
# DEFAULT_FROM_EMAIL=adresse@exemple.com
