# Secrets
.env
*.env
!.env.example

# Environnements
.venv/
venv/
env/

# Django / DB locales
db.sqlite3
*.sqlite3*
/staticfiles/
/media/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db
