# Secrets
.env
.env.prod
*.pem
*.p12
*.key
!.env.example
!.env.*.example

backups/
*.sqlite3
*.dump
*.bak
*.sql
*.sql.gz
/staticfiles/

# Environnements
.venv/
venv/
env/

# Django / DB locales
db.sqlite3
*.sqlite3*
/staticfiles/
/media/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Secrets & générés
.env
.env.*
*.pem
staticfiles/
nginx/staticfiles/
