body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    background: url('../img/background3.png') no-repeat center center fixed;
    background-size: cover;
}

.h1 {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.search-bar {
    margin-top: 60px;
    margin-bottom: 20px;
    position: absolute;
    left: 20px;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

.filters {
    position: absolute;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-button, .sort-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #e53935;
    color: white;
    cursor: pointer;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: rgba(250, 250, 250, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-profile {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-title {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}
