<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Objectif Annuel</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'front/css/objectif_annuel.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        <div class="objectif-annuel-container"></div>
            <h1>Objectif Annuel</h1>
        </div>
    </body>
</html>